body, html{
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: Arial, sans-serif;
}
.signup-container, .login-container {
    width: 70vh;
    margin: 0 auto;
    padding: 20px;
    border-style: none;
  }
  
  h2 {
    text-align: center;
  }

  img{
    height: 200px;
  }


  
  .form-group {
    margin-bottom: 15px;
    border-color: gray;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .signup-btn {
    background-color: white;
    color: gray;
  }

  .response-message {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
  }
  
  .response-message.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  
  .response-message.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }

  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  