/* Main container for the navigation bar */
.navigation-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 200px;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.navigation-bar img {
  width: 100%;
  height: 6rem;
  display: block;
  margin-bottom: 20px;

  flex-shrink: 0;
}
.nav-links {
  display: flex;
  flex-direction: column;
}
.nav-link {
  font-family: Arimo, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation-bar .nav-link.active,
.navigation-bar .nav-link:hover {
  background-color: #90be6d;
  color: black;
  font-weight: bold;
}
