/* Main container for the navigation bar */
:root{
  --primary-color: #90be6d;
  --secondary-color: #dcf5ca;
  --text-color: black;
  --background-color: white;
}
.navigation-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 200px;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.navigation-bar img {
  width: 100%;
  height: 6rem;
  display: block;
  margin-bottom: 20px;

  flex-shrink: 0;
}
.nav-links {
  display: flex;
  flex-direction: column;
}
.nav-link {
  font-family: Arimo, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation-bar .nav-link.active,
.navigation-bar .nav-link:hover {
  background-color: #90be6d;
  color: black;
  font-weight: bold;
}

.logout-btn {
  background-color: white;
  color: black;
  width: 100%;
  font-family: Arimo, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
  background-color: #dcf5ca;
}

.mobile-nav{
  display:none;
}

.menu-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  width: 5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  color: var(--primary-color);
}

.menu-toggle:hover{
  color: var(--secondary-color);
  border: none;
}

.menu-toggle:active{
  border:none;
}

.mobile-nav-links {
    position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  width: 200px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  left: 0px;
  top: 0px;
  z-index: 999;
}

.mobile-nav-links.open {
  transform: translateX(0);
}

.mobile-nav-links.open {
 
  padding: 1rem;
}

.mobile-nav-links .nav-link {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-family: Arimo, sans-serif;
  transition: color 0.3s ease;
}

.mobile-nav-links .nav-link:hover {
  color: #90be6d;
}

.mobile-nav-links img{
   width: 50%;
  height: 6rem;
  display: block;
  margin-bottom: 20px;

  flex-shrink: 0;
}



@media (max-width: 768px){
    .mobile-nav {
    display: block;
   
  }

  .navigation-bar {
    display:none;
  }




}