:root {
    --primary-color:#90BE6D;

}



html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: Arimo, sans-serif;
    
    background-color: #ffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    margin: 20px;
}

header{
    display:flex;
}

.logo img {
    height:80px;
    
    color: #4CAF50;
}

h1{
    font-size: 60px;
    margin: 0;
}

section {
    margin: 40px;
}

button {
    border-radius: 23px;
    padding: 15px;
    background-color: #ffff;
    font-size: 28px;
}

button:hover{
    background-color: var(--primary-color);
}

.navigation-bar{
    background-color:white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(163, 163, 163, 0.1);
    width: 100%;
    font-size: 32px;
    
}

.navigation-bar a {
    color: black;
    text-decoration: none;
}

.navigation-bar a:hover {
    color: var(--primary-color);

}

.navigation-bar .active{
    color: var(--primary-color);
    text-decoration: underline;
}


.navigation-bar img {
    height: 5vh;
}


.hero-section{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    margin-left: 10px;

}

h2 {
    font-size: 64px;
    color: black;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 32px;
    margin-left: 20px;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.welcome-section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    
}

.get-started-btn{
    padding: 20px;
    font-size: 18px;
    margin-bottom: 40px;
}

.spacer{
    margin-bottom: 20px;
    display:block;
}

.getintouch-form{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.getintouch-form p {
    text-align: justify;
    
}



.getintouch-form img {
    height: 50px;
    margin-right: 20px;
}

.getintouch-text {
    margin-right: 40px;
}

.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    margin-top: 4%;
}



h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}


.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none; /* Hidden by default */
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}
 
footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.footer-content{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: flex;
    margin-right: 20px;
    margin-top:10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

.newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px;
    background-color: #81C784;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}


.mailing-list-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

}

#message {
    margin-top: 10px;
    font-size: 0.9rem;
    color: green;
}

.whatsapp-group-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1da851;; /* WhatsApp green */
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.whatsapp-group-link:hover {
    background-color: #086028; /* Darker green on hover */
}

.about-us-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: justify;
}

.about-us-container img {
    height: 50vh;
}

@media screen and (max-width: 500px){
    body{
        background-color: white;
        font-size: 12px; /* Adjusted font size */
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .navigation-bar {
        flex-direction: column;
        font-size: 14px; /* Adjusted font size */
    }

    .navigation-bar img {
        height: 40px; /* Adjusted height */
    }

    h1{
        font-size: 24px; /* Adjusted font size */
    }

    h2 {
        font-size: 20px; /* Adjusted font size */
    }

    h3 {
        font-size: 18px; /* Adjusted font size */
    }

    p {
        font-size: 14px; /* Adjusted font size */
    }

    button {
        font-size: 14px; /* Adjusted font size */
        padding: 10px; /* Adjusted padding */
    }

    .hero-section{
        display: flex;
        flex-direction: column;
    }

    .welcome-section img {
        height: 1vh;
        width: 90%;
    }

    .welcome-section-2 {
        flex-direction: column;
        padding: 10px; /* Adjusted padding */
    }

    

    .getintouch-form {
        flex-direction: column;
    }
    
    .about-us-container {
        flex-direction: column;
    }

    .footer-content{
        display:flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 1024px){

    body{
        font-size:1.5rem;
        margin: 2px;
    }

    h2{
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem;
    }

    img{
        height: 40vh;
    }
    .navigation-bar{
        font-size:1.5rem;
    }

    .navigation-bar button{
        font-size: 1.5rem;
    }
    
    
    .welcome-section-2 {
        flex-direction: column;
        align-items: center;
    }

    .welcome-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-section img {
        height: 20vh;
    }

    .welcome-section-2 img{
        height: 40vh;
        margin-top: 100px;
    }

    .about-us-container {
        display:flex;
        flex-direction: column;
    }

    .getintouch-form {
        flex-direction: column;
    }

   
}

