*{
    width: 100%;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.weather-component {
    grid-column: 1/3;
    grid-row: 1;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: auto; /* Single-column layout for tablets */
        grid-template-rows: auto auto auto; /* Adjust rows to fit content */
    }

    .weather-component {
        grid-column: 1; /* Span the single column */
        grid-row: 1; /* Keep it at the top */
    }

    .group-alert-component{
        grid-column: 1;
        grid-row: 2;
        width: 50vh;
    }

    .calendar-component {
        grid-column: 1; /* Span the single column */
        grid-row: 3; /* Move below the weather component */
    }

    
}
